*{
    margin: 0;
    padding: 0;
    font-family: 'Expletus Sans', cursive;
}
.header{
    padding-top: 80px;
    padding-bottom: 80px;
    border: 10px solid;
    font-size: medium;
    color: black;
    background-color: rgb(30, 30, 30);
    text-align: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

/*--navbar--*/
li, a, button{
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0.3s;
}
/*-----image header-----*/
.logo{
    padding-top: 10px;
    padding-left: 10px;
    color: black;
    background-color: rgb(30, 30, 30);
}
/*------header menu-----------*/
.menu{
    cursor: pointer;
    margin-left: auto;
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.3 s ease 0s;
}
.nav_links li a:hover{
    color: rgb(44, 79, 195,1);
}
button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgb(19, 19, 19);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(32, 32, 32, 0.8);
}
.welcoming-title h1{
    background-color: black;
    text-align: center;
}
/*--intro--*/
.banner{
    padding: 0;
    margin: 0;
    padding-top: 150px;
    height: 500px;
    position: relative;
    width: 100%;
    text-align: center;
}
.banner img{
    width: 100%;
}
h1{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-shadow: 0 2px 20px black;
    font-size: 60px;
}
.content{
    background-color: black;
    color: black;
    height: 450px;
    padding-top: 130px;
    position: relative;
    text-align: center;
    width: 100%;
}
.content h2{
    font-size: 55px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    padding-top: 55px;
    color: white;
}
.content p{
    padding: 0 180px;
    line-height: 2;
    color: white;
}
.content:before{
    position: absolute;
    content: '';
    width: 60%;
    height: 135px;
    top: -50px;
    left: 0;
    background-color: black;
    transform: skewY(10deg);
}

.content:after{
    position: absolute;
    content: '';
    width: 60%;
    height: 135px;
    top: -50px;
    right: 0;
    background-color: black;
    transform: skewY(-10deg);
}
/*---payment method---*/
.pay h2{
    color: red;
    text-decoration: underline;
}
.pay p{
    text-align: center;
    color: red;
}
.contact-buttons{
    padding-top: 40px;
    letter-spacing: 5px;
}
.contact-buttons img{
    padding: 1px;
}

/*----mobile view-----*/

/*------title and image------*/
@media(max-width: 840px){
    .welcoming-title h1{
        font-size: 12px;
        text-align: center;
    }
    .banner img{
        max-width: 100%;
        min-width: 400px;
        height: auto;
        padding-top: 150px;
    }

    /*-------read before proceeding section------*/

    .content h2{
        text-align: center;
        font-size: 20px;
        text-decoration: underline;
        color: red;
    }
    .content p{
        text-align: left;
        padding-left: 15px;
        position: relative;
        left: 0px;
        top: 0px;
        z-index: 1;
        color: white;
    }
    .pay{
        width: 100%;
        height: 100%;
        padding-bottom: 200px;
        background-color: black;
    }
    .pay h3{
        color: white;
    }
    .method p{
        text-align: center;
        padding-right: 25px;
    }
}